body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body ::-webkit-scrollbar {
  background: white;
  width: 3px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #5773fc;
  width: 3px;
}

body .sideBar {
  padding: 0;
  width: 25vw;
  height: 100vh;
  background-color: white;
  color: #858585;
}

body .sideBar .search {
  width: 22vw;
  height: 5vh;
  margin: 0 auto;
  padding: 2vh 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sideBar .search .title {
  margin-right: 30px;
  font-family: "Pacifico", cursive;
  font-size: 100%;
  color: #4eb5dd;
}

body .sideBar .search input {
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  border: 1.5px solid #6d6d6d;
  border-radius: 10px;
}

body .sideBar .chatHistory {
  height: 90vh;
  overflow-y: scroll;
  scrollbar-color: #5773fc white;
  scrollbar-width: none;
}

body .sideBar .chatHistory h3 {
  font-weight: normal;
  color: black;
}

body .sideBar .chatHistory h4 {
  font-weight: 100;
  color: #464646;
}

body .sideBar .chatHistory .chatPerson:hover {
  background-color: #e0f6ff;
}

body .sideBar .chatHistory .chatPerson.clicked {
  background-color: #5cccf873;
}

body .sideBar .chatHistory .chatPerson.clicked h3 {
  font-weight: 600;
  color: #024d8d;
}

body .sideBar .chatHistory .chatPerson.clicked h4 {
  color: black;
}

body .sideBar .chatHistory .chatPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 3%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sideBar .chatHistory .chatPerson .chatHistory_profile {
  height: 50px;
  width: 50px;
  margin-right: 2%;
}

body .sideBar .chatHistory .chatPerson .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 3%;
}

body .sideBar .chatHistory .chatPerson .info h3 {
  margin: 0;
}

body .sideBar .chatHistory .chatPerson .info h4 {
  margin: 3% 0 0 0;
}

body .mainContent {
  width: 75vw;
}

body .mainContent .chat .chartBar {
  background-color: #5cccf8;
  -webkit-box-shadow: 0px 2px #5cccf87c;
          box-shadow: 0px 2px #5cccf87c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5vh;
  padding: 0;
  margin: 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body .mainContent .chat .chartBar .chatPersonProfile {
  height: 10%;
  width: 10%;
}

body .mainContent .chat .chartBar .chatPersonName {
  padding: 0 2vw;
}

body .mainContent .chat .chating {
  padding: 1vh 2vw 1vh 2vw;
  height: 83.5vh;
  overflow-y: scroll;
  scrollbar-color: #030a2c #8d8d8d;
  scrollbar-width: none;
  background-color: rgba(233, 233, 233, 0.425);
}

body .mainContent .chat .chating .chating_profile {
  width: 25px;
  height: 25px;
}

body .mainContent .chat .chating .message {
  background-color: white;
  color: black;
  max-width: 50%;
  min-width: 100px;
  margin-top: 25px;
  padding: 10px;
  border: 1.5px solid #479abb;
  border-radius: 10px;
  word-wrap: break-word;
}

body .mainContent .chat .chating .message .header {
  margin: 0;
  color: #5b2dff;
}

body .mainContent .chat .chating .message .content {
  margin-top: 2px;
  margin-bottom: 2px;
}

body .mainContent .chat .chating .they {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .mainContent .chat .chating .they .chating_profile {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .mainContent .chat .chating .you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .mainContent .chat .chating .you .chating_profile {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .mainContent .chat .input-chart {
  height: 7vh;
  background: #5cccf8;
  -webkit-box-shadow: 0px -2px #5cccf87c;
          box-shadow: 0px -2px #5cccf87c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .mainContent .chat .input-chart .input-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  background: #5cccf8;
  color: black;
}

body .mainContent .chat .input-chart .input-text:focus {
  outline: none;
}

body .mainContent .chat .input-chart ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

body .mainContent .chat .input-chart :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

body .mainContent .chat .input-chart ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

body .mainContent .chat .input-chart ::placeholder {
  color: rgba(0, 0, 0, 0.75);
}

body .mainContent .chat .input-chart .send {
  border: none;
  width: 5vh;
  height: 5vh;
  background: #5cccf8;
  color: white;
}

body .mainContent .chat .input-chart .send:active {
  color: #575757;
}

@media only screen and (max-width: 576px) {
  body .sideBar {
    width: 100vw;
    min-width: 300px;
  }
  body .sideBar .search {
    width: 95vw;
    height: 5vh;
    margin: 0 auto;
    padding: 2vh 2.5vw;
  }
  body .mainContent {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */